:root {
  --white: #fff;
  --gray: #d1d1d4;
  --gray-bright: #f7f8fb;
  --gray-dark: #9b9b9b;
  --black: #000;
  --blue: #4d13d1;
  --blue-hover: #7e61ff;
  --blue-active: #2a0089;
  --blue-icon: #95969e;
  --border-blue: #c8cbcf;
  --background-blue: #f3f5f7;
  --background-blue-bright: #e8ecf1;
  --background-blue-dark: #eeeeee;
  --background-black: rgba(0, 0, 0, 0.5);
  --red: #F5113B;
}