@font-face {
  font-family: 'Roboto_Bold';
  font-display: block;
  src: url('/fonts/roboto/bold.ttf');
}

@font-face {
  font-family: 'Roboto_Regular';
  font-display: block;
  src: url('/fonts/roboto/regular.ttf');
}